@model List<Comment>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /> <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Yazar</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.CommentId</th>
                @* <td>@item.AuthorNameSurname</td> *@
                <td><a href="/Comment/DeleteComment/@item.CommentId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Comment/UpdateComment/@item.CommentId" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Comment/CreateComment/" class="btn btn-primary">Yeni Yorum Ekle</a>
</div>
